<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Dependencies">
            <Component Id="cmp1F5920FEC0DE6E27306FCE82E310EC8A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil3E4BE1ABB620CAB86A320A599B6B4C71" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmp039CA25C91C130DF48D1FAE83958E07E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil7BFBA1BDB0FE8FB0D8BAFB35EE9A62C5" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\DesafioControlSmart.Client.dll" />
            </Component>
            <Component Id="cmp909C29BABCB4C16B2F3E20D721883D99" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil89303EE44946486A9A26A988F1A0FC62" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\DesafioControlSmart.Client.pdb" />
            </Component>
            <Component Id="cmpD61180757A8B96849B0246AC09A9B891" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC4908C01112B0F5AEDB28EF414F23D1E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\DesafioControlSmart.Data.dll" />
            </Component>
            <Component Id="cmp00876DE3F3793768DD8CDB72E0B6A098" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil675684CC7C8EB4F09A8A1054BC76A061" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\DesafioControlSmart.Data.pdb" />
            </Component>
            <Component Id="cmp7F6FA46109DFCF84DD05A3DC2051D534" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil64B6D8FBA7C288C268F857F9E0A79939" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\DesafioControlSmartService.pdb" />
            </Component>
            <Component Id="cmpFDDDC8FF21689791EB9A3121EF0C115B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filF1B77F1BBB0B43FDA45917A2FBD3C9C0" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.Connections.Abstractions.dll" />
            </Component>
            <Component Id="cmpFEF4AA1B54112EF2505610515B0F8CC1" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil518A266694091A0881A8DCBDC1D06F04" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.Http.Connections.Client.dll" />
            </Component>
            <Component Id="cmp53A9CAD7D5EA17154715532F194E1D3F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil3195DFE2033474F1F5AF7BE1F07C3BEF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.Http.Connections.Common.dll" />
            </Component>
            <Component Id="cmp38D85DCE1C4AEC9B716DBEADE5D74581" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD49176EC0BAACF36020294FEB201ACE5" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.Http.Features.dll" />
            </Component>
            <Component Id="cmp475C405EDBED98F867B6DBE7907226E2" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil07382977529D70E63AE6E0444257DDBF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
            </Component>
            <Component Id="cmp657F671BF35B0634107061DF8EC09E18" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6900FBFF7AE2F1939918EDCFCA2E7C4B" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.SignalR.Client.dll" />
            </Component>
            <Component Id="cmp4D2F9EBF32FF20D58C949B4CB58C3C6F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFF772D052E3E7F9B1452D6DD8DC57817" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.SignalR.Common.dll" />
            </Component>
            <Component Id="cmpFD92BEF405C3F74411DEC2E0855140E7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDF838BBDBE72947CD5BA06022C880A3A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
            </Component>
            <Component Id="cmp87BE35D8697D32E8D48529A24B7E37F5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCAF1B12A16EDC75718FA9F960DB62AE7" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp330B8BD35F70CA6FCFD9EAC3EEE5BB7C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil4FC2CF90A092FA2D37884DFC4855F3EF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpFFCCE6CA12014DD4DD79CF823C142C32" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBB6DA3B23B287D1EE4F2729A3790F0D8" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp23285800A0587E43D6C4F39A65AA0254" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE71F58A8A3A7ACB3E308245151753758" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmpA964FF985DF834B34D6D7B9095D0D9D1" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil958A9827BA253D4A32254164610C6CEF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp95844FAA77E5D7D59C1A350083E88938" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil94F374261D7C1DDCE7911731156730FF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmpCCCA1FDA0D084BE279047375586EDE73" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil05B081F441AD20C6EE12603CFC5BB00E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp54989AB4656B57712AC4ED56308EEB10" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC1834C625477D8DD53177BDD22A498B3" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp5FAA0779A231C86304C6BA56523174AF" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil75134FDC136CBA506A1D3B6821D089D6" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpB296829FE19F0CC19568A1012B9184E5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil2650274B004F3A632673B04DAED7E854" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmpB7D52D1ECEF5B9A2EACFE0C0BA01DB3B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6F9727B5BA5A0CF4EE3139346461281C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpC41238623A7A0C26A6C10692F22A57CB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil16B676BB0B968985953D75815A737A48" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp6B277E48E03D466703F608D88004A182" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil88401F4E059E470EE64057BA1B2C73DE" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp7B48D910CAB56D78BFC5128078813C9B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC218B2301830CCD617E792E38AA187FC" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpE38DDF5846B9D05AD489545329EE1F66" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC05D226436410C207247AD5875278A7C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpFF1F1807308FF4CCF280EDB7733C5656" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6FC2F855D3C173B6A1BD8B9841D131A3" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp2B5E2A0633BB5599A79ECE84FBEFBB1D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA9FB13D34583A48F6342E310880FEC01" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\netstandard.dll" />
            </Component>
            <Component Id="cmp1F628E6E1F2340F1B045287895BA90F8" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil94F47DD4629D87B8878BF727BE5F7853" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp92032D5CC72B76E736EDCA1B8296BD82" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil53876BD643992B1E5592F6BFECEE7E07" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmp9AEF13A592438C5C162E27FE84F97A19" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil08FB9F363EEF6B164A4A23F96A785311" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\RestHttpClient.dll" />
            </Component>
            <Component Id="cmp5566B3D092874151434AFA3174DFFD04" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC2F18E70148A64BEBB11DF33DE5021B2" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpF416A28E0F7044D83D15636472DFF496" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE09573F47F06B9DD1EA25DD80E993614" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Buffers.dll" />
            </Component>
            <Component Id="cmpA9457E3BD24A6401718A7E8D5C33FAE3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filEF3238FBD4FC6F69226235BF925F23E9" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp782EF23DA3624CE08848F33F3CD3C541" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil77E77A9D52EE892493FD8C91F832A1DC" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Collections.dll" />
            </Component>
            <Component Id="cmpD4A9F1C7CBE1670C2B5D0FAA84DBA3DC" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB0EB9B4DE8AC113D35133CE78B03674C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp9448ED0CC331185725FC451AE2B0C97E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0E1D58E89DE6DEA2C91073CB91D5B45C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp10F5BF92BAC47AD91603520F956BE8CF" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCBB02DDC60CF066F16A7E5C38DD4C252" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="cmpE684AB1E8D9830315DDE562DD78D7F04" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDB66D577F888DEB02FC6FFC0253BE154" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmpF1F865D20F7AE2DC1E678B56E2571195" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA897C25D32D14F6AA966AE874767829A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp255A5B6B4ED18BD915ED3A6581A57296" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filAAAB2C052754AB8B45DA491DE6C0FE23" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp7F1A1511E0497114B62F0F6CCCAD3134" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil02EEC2A04DC5194E0F7CF67A2D1582CD" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmp96BE2C3DF944F9A45417425A72910371" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filF4812742499967625B1424D1D9FC41D7" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Console.dll" />
            </Component>
            <Component Id="cmp3BF785BB84D5EAEF56DD237BAC47CAC9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil70516D0CD5B32407538331418CBA54C9" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmpED3DB467505484025B1C38454CD559D5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil968928AC7F2B5B7ECD5FECE679FA9FC2" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmpAC9DD1FAEE81CF285A758F132DCD468A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil00BDEC3E0E614F4BF652EF45518F8A25" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp5E3CA50D5A3CF96A89A74E4340F5D1EF" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD7C1E937AD2ECE5B89F52C91AA6F2CDE" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmp6EC4EEAEB59FEFF86FE21A98890D2DCE" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil986B1AD4A8A4DC05103F10D7A6AD3F44" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmp956853F9507C92F3032EED8E1537E6F3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6B3AB8C4C11261D344D5EC83DE3F804E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp1BAA5509900F7245230DB35C86D3E3B0" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filADD12433325CAD54749A9751BE70F6E9" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp7ACFDAB1D8EBF5063DBC9E8A13A23F74" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFF922ABF3A0FA7B0D51ADFDF2573DD66" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp688AA5429B74FAD3D330B1E75D00C0A8" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBCC84C723981F41277F187CC69E2AB79" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmpACBB27CC8D865BF799E78772BF39ED57" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDCC7161F0AD01227170031FBB97F7C97" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmpD8758895397E6A4004EB1B099C1EE6CD" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil29FA54DADF316627C4C41BFC1118A4BF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp4BEA625E23AF93D16749B3A3EE2134F6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA66F4BB0794776DDD86DB9EF29C8EC17" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmp404B4576C2C5DB3C03DDA14A484E23FB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE99C0ED486821DB5D94D065757340F28" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp940618ED8EF039B563004B591AB7F47F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD8228856294FF9A0D5B1C79303B5071D" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp0B2220D1828B8DA04A630EE537846544" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1021B9A2B5D2626E7E609FB46271BB1F" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpBC60E5B0A51D0A588571BEE7A40CA047" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDF4968021C4491EA854BCB6508E6670E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp58E6B02496F4A099657FA75AB7FC4A9D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE603CA6A41B4C311864CDE03ED55B3F3" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp60C236BFE83581A23002982E6DDAABEA" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filED657E250E25C56A59F97F0C3882A916" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.dll" />
            </Component>
            <Component Id="cmpE67FF65A30D02B452BE1356A4CEB3E57" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil042A9F9C341452F35738F8FED808DB82" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp3BA575023A026632380C390014844473" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDF2B244621A0E2D7BDCF4C5A6C193318" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmpA8F7FBF4A2D68BC8C9AA4A9EBEDB06BA" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil9D4A162BC92EDC742B53F01A185C21E0" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmpC78CECBCB06C0280BA86166C8EB0F4B6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil4636E59199D6238C417E9AF0AE31431E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp163ECC6FC5993BBEC11E0AA8C0F18E27" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6F759C96981442508B158436DCCB133F" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp9E3413C691347260A45E5D96AFC2943F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil37CEDC94471CD5435810897CE1D9B0F1" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp22864431D249B713B8857562616926F1" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil2424B65350A4172FD89BCA09F61CEA6C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.Pipelines.dll" />
            </Component>
            <Component Id="cmp62AA2689814D2C64257DC89F2C03AD23" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDAD017614A8E6040BA24C4B9C4AA2E40" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmp0F38CC4CE6F37CD86483B92F80DE7C92" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCBDA7FA0BE0497208B81F6E18B3F279A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmp780EC44E512EDB2C3260138E9A7AA62F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil8F22FD21F13E6ACBC67A39E4B25D9FF6" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Linq.dll" />
            </Component>
            <Component Id="cmp4AE8F9F78D0600A39FB98407B14AB209" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCC72F0453BC4AAE7D4F28043BB1D5903" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1F241CFCBA2BDD69F4C99EBFA267BF9D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA74397F3F792ED5CDA57D665D63851C1" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmp61631940CC285AE26AE70A4F995075C8" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil37299602D5961940FEB0B339D175D331" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmpAE0E714DE305C92E6364D72839B105EB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil340E3971849C21E78419478EAF4B4ADE" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Memory.dll" />
            </Component>
            <Component Id="cmpD2080BE82E09E8382E572AA406512517" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0F7B1F604314737202513D2288AC9F57" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp5C3435615D1E2232A18956AA37CED181" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1DAF3ADCF6286D685E3CFA4AAE1DDAEF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpA6EF91FF595EF921CF359BEE7361FA19" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD2188E35D80A00EAA088EA830EDA8D80" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp2E73D7E709FB8FFF43A3BA15A4064E7F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil534030889BB9B825D0860E52179ECE31" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmpA3501CD233FD7BB0DF9A44B9965A96B6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil875A0005BECB5D6F8004882A5F6B43EF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmpA4A0416CE2C3682E896EEF5EA866A80E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil93AAD4808BB77BC5FCBB9FCAF180663A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp79F305020E8A145AF77C9269A7BDF78E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE0F1E75FF195F1AF1843FDC42E90D086" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp1F0438C78F6C29F84F8021EB628D4EE7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil9C25CBC36101F6A308450A0675BE25EA" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmp8B4A407B4EF6608D764C5B3D452AC7A6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil837F15ECCFEF455DEA25BD073F81D3FB" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpB90928354F14C224A693D5092FD15008" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil05094978034EA77AB1CE6C391D3E990B" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmp3A5918897A86BE1CB209DE019604C375" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA8CC609398068B84EABA791D47491A11" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmpED7EF613D2F344511430FC538829D57C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE1209A9E5626E5542DBE3C046C6FAC35" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp16B737923EB64A27D0ECA26B31D2E261" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil8B4D4C74E3BB20B2596ECE8175D06C01" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp45435FC2986A949FCFC6C0DF8ED82925" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil914B18AD727C02C80E8ED6514088F028" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpFE5ED5AE4252D5C30AA4351AB60A85F9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6796BBAA4256AE9437E5BBC3A0BF5ABF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmpEFDA645ECFC6933E2B63A851D277242F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil4A1F64C9D3D0D2A6B832EC918F8F36B4" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmpB79D9F9A2A6C93E9DB5DA7B9B279B607" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil19B3998FB705007D71A662C80CA7B671" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp37AF6B8628CE449AD524E04050677F76" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil23C34FA5B2083C6FD125006D0CFB10E4" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp3D65F10CA25DF8F94FB1A45765F43E8A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1A04F7A1A2EFBC440EDEA1FA0BEAFFBF" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmpC1B222360D2ADAB791C84ACEB91BD71E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil247E1386AB66E151BBBBBBC723B07DE8" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp0E64F648966B9AC8F3E7BA7E020162CB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil89DCC2FB1A8090FB432CF16FFD6C4290" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp6B4A8289B52D4F84A2A8194ADBF87D3B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil01140C18F73B205060BF8B9790DD5568" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp38FEF9E72A5DCE64D9887C50C99635FA" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCEE2EFCDB5DF4790B3A50CC63B48E5EE" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmp9977CBCA01510E73A9D197F62C9FB78A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD8A0AD8081DFFDD2F5D37AD429ACC49B" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmp7A66E4D02039DA1C5822E3E049B666C6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDDE289F0257EC77DE60C54DCDD1042B8" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp0C401B519117DBC2D07BAB513FDADF9A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFA1947D5B30C1F88AFE33145020C0DDC" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpB4280D2CFAFB84FF1D4FFDE637E045B3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA66E2BB92D2458A47F01EB290C9E811A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp512D0E5FB9C8B2A3F3E9CCBE1ED304E4" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB4A2CA7A063DEE0E6F8ECA756DB912A8" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmpBC008E655B77F7852EE8AACB7FDC1765" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil80EED70E6B66C75EAF70E4C3F3E4092C" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp40699A7B4126C02E6D100F49759E95A9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC99601153645366080C633EB614FC03D" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpE97E91ADD7DB3FE20442A766028A7A47" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil5AB52DDCB49A1D1AC4A7F5D803F59C3A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmpAD6B7E9DF0EDE80829297733429817AD" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB16629CAE3E40A9A6C3428842843A0AC" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpBB50A98E67DA8A331C964165E8ECA508" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filAD57B419EF560B03947B350B2A0AA2CA" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp123B76F734B1E91D3E96186B5EC0F2E6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC8909EBCD0DBC405146253FB12B222C6" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmpF6ED948F9479D9959FF377F6896F18E2" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD7ADDB2C9BE75589977F16108F9FBB6A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp511A4BE28843F9925314935245AD882E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil49F6FC623E0F5483A942C503A78E0B77" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp6CFEF7319F1BC7918A74A119AAF6F363" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBF0C47800D75616525C8057081D5F070" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp8781424334F9FD35C6C38639F8C2F390" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil5D63C6C603A0268AB561CDC47CE14656" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp7A72AC68DA013472BD9920659C7912D4" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil424043D27345FFEC147F72DB77A8F138" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp080AB8E896A4FC8F4FBBB85B880AE411" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil5CDA82B08A4A4278EC59986A23DA554E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp648D2B9B8D49DFE018263861D1EA181A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB9D2B7304BB8078ED891E223CA5A3DD4" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmpAA742A7A0076415CC41C241FBCD15DFE" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil2D64D0E1742DC7E92B7D7A1346E1DF64" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpDFBF615092DCD968098FA361BEA42C08" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil224FE4ED9F24EA2C89E5A33ABB180C6D" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Channels.dll" />
            </Component>
            <Component Id="cmp4D85BF1E61A6A2D3B200C49C1F9BC08D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1F6BC5DDDFF521B5F45510F04A6F2ED5" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.dll" />
            </Component>
            <Component Id="cmpBB12F13C04493FF34B03EB69D9C84187" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6461F7A401C99741489A15D2141DB884" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp36156CE1FE764F6AD3954C97B9A0D351" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil367D94D1DB443B1063C3F21651FC7D71" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp82EDBC630DC1EBD626EAD78D9186EB37" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil479F370AC2A8E8016640DBF0B72DB4ED" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpAD3D1C1BF5A729E9B3A267FDE27BF9B5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFDEE085BA226F2DB4CACB6C0828AFD98" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpA0278E37D5722446B7C004BBD01C249C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0C493A601A6052002D6D58F4C3318E0E" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmpC11C3CDDA624899ACD03EA7B7371111E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0E597F179C211A8187D78E1379982BCD" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp3A6BF5CBDD5643D98989AA385AFE5B3F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filDCC5ABCBA83B918EA134DA46445B90C1" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmpDB1ED8667B5FE928C4AD248541F9A1F6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil56208E070B0C54151B488587CB05ECB8" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmpAACF16E415120FA5C72C105D95B753A7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0C7716A7BF0BA45E0E89D841DC593A3F" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp211903811A8AEECB4E2B365DAF90A47E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil7FC3A49534471C65E0ED48C0F3D9B7A1" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp07230A379859C1BE3E6A0927A274C3DB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil76C06C4CD62C8513AF11F4E9DC8A4161" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp3FA930ADBC5647C98175538DE7527464" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil76B711DA0BC58E6B91347DD8A714737B" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmpF81217D21ED850766C564F9D891BBB38" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil742269DA4F27B716896A5414CC15FB9A" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp3C9AF84A0805A0A343556AD0A99E6992" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE7F0AD98F291401F9D89AA08895BB91D" KeyPath="yes" Source="$(var.ClientWindowsService.TargetDir)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>